<%- include('partials/header') %>

<div class="container d-flex justify-content-center">
  <div class="col-md-5">
    <div class="form-area">
      <form action="/add-employee" method="POST" >
        <br style="clear:both">
        <h3 style="margin-bottom: 25px; text-align: center;">Add Employee</h3>


        <div class="form-group">
          <select id="type" name="type" class="form-control">
            <option value="Doctor">Doctor</option>
            <option value="Nurse">Nurse</option>
            <option value="Receptionist">Receptionist</option>
            <option value="Laboratorist">Laboratorist</option>
            <option value="Pharmacist">Pharmacist</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <div class="d-flex justify-content-center" style="margin: 5px">
        <form class="" action="/admin-home" method="get">
          <button class="btn btn-outline-dark" type="submit">Go Back</button>
        </form>
      </div>
    </div>
  </div>
</div>





<%- include('partials/footer') %>
