<%- include('partials/header') %>


<div class="">
  <div class="d-flex justify-content-center">
    <div class="">
      <h2 style="margin: 20px 0">Welcome Admin</h2>
    </div>
  </div>
  <div class="" style="position:absolute; right:70px; top:30px ">
    <form class="" action="/logout" method="get">
      <button class="btn btn-dark" type="submit" name="button">Logout</button>
    </form>
  </div>
</div>
<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="column" style="margin: 0 5px">
      <form class="" action="/add-employee" method="get">
        <button type="submit" class="btn btn-dark">Add Employee</button>
      </form>
    </div>
    <!-- <div class="column">
      <a class="btn btn-dark" href="http://127.0.0.1:60469/browser/">Database</a>
    </div> -->
  </div>
</div>


<%- include('partials/footer') %>
