<%- include('partials/header') %>


<div class="jumbotron centered">
  <form class="" action="/" method="post">
    <button class="btn btn-outline-dark" type="submit" name="name" value="Patient">Patient</button>
    <button class="btn btn-light" type="submit" name="name" value="Employee">Employee</button>
  </form>

</div>

<%- include('partials/footer') %>
